html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: black;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: black;
  color: #ffffff;
  border-top: 0.5px solid #555555;
}

.description {
  max-width: 3rem;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #44D62C;
}

h2 {
  font-size: 2.2rem;
  padding: 0.5rem 0;
  color: #44D62C;
}

h2:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}


input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #00ff00;
}

button.block {
  width: 100%;
}

.cart_select {
  background-color: #555555;
}

.cart_delete {
  background-color: #555555;
}

.desc_product {
  color: #d4c0c0;
}

/* Header */

header {
  border-bottom: 1px solid #44D62C;
}

header a {
  color: #555555;
  padding: 1rem;
}

.logo {
  width: 4rem;
  padding: 0.3rem;
  z-index: 5;
}

.badge {
  background-color: #44D62C;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
  padding: 2rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

/* Card */

.card {
  border: 0.1rem #00ff00 solid;
  background-color: #555555;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Rating */

.rating span {
  color: #ffbb00;
  margin: 0.1rem;
}

.rating span:last-child {
  color: black;
  padding-left: 2px;
}

.col-1 .rating span:last-child {
  color: #555555;
}

/* Alert */

.loading {
  display: block !important;
}

.success {
  color: #00ff00;
}

.danger {
  color: #ff0000;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #00ff00;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #e0e0ff;
  top: 5rem;
}

/* Form */

.signin {
  background-image:
    url("https://razerid-assets.razerzone.com/static/media/razer-phone.8a4e47ff.jpg");
  position: fixed;
  top: 5rem;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  z-index: 1;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
  min-height: 200px;
  margin: 7rem auto;
  border: 1px solid #333;
  background-color: #222;
  padding: 30px 30px;
  overflow: hidden;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  position: absolute;
  pointer-events: none;
}

.form input {
  background: transparent;
  border: 1px solid #808080;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
}

.form input:focus {
  border-color: #44D62C;
}

.first_label {
  top: 13.9rem;
  left: 4.5rem;
  transition: .3s;
  color: #808080;
  padding: 0 5px;
}

.form input:focus~label.first_label,
.form input:valid~label.first_label {
  top: 11.8rem;
  background-color: #222222;
}

.second_label {
  top: 19.9rem;
  left: 4.5rem;
  color: #808080;
  transition: .3s;
  padding: 0 5px;
}

.form input:focus~label.second_label,
.form input:valid~label.second_label {
  top: 17.8rem;
  background-color: #222222;
}

.third_label {
  top: 25.9rem;
  left: 4.5rem;
  color: #808080;
  transition: .3s;
  padding: 0 5px;
}

.form input:focus~label.third_label,
.form input:valid~label.third_label {
  top: 23.8rem;
  background-color: #222222;
}

.fourth_label {
  top: 31.9rem;
  left: 4.5rem;
  color: #808080;
  transition: .3s;
  padding: 0 5px;
}

.form input:focus~label.fourth_label,
.form input:valid~label.fourth_label {
  top: 29.8rem;
  background-color: #222222;
}

.fifth_label {
  top: 38rem;
  left: 4.5rem;
  color: #808080;
  transition: .3s;
  padding: 0 5px;
}

.form input:focus~label.fifth_label,
.form input:valid~label.fifth_label {
  top: 35.9rem;
  background-color: #222222;
}

.payment_label {
  color: #ffffff;
  margin-left: 5px;
}

.payment_container {
  font-size: 2rem;
  margin: 5px;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #000000;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #00ff00;
  color: #00ff00;
}